.ap-books{
	overflow: hidden;
	&__head{
		text-align: right;
		padding: $gutter*2;
		padding-bottom: $gutter*3;
		@media screen and(max-width: 425px){
			text-align: center;
		}
		.ap-search-field{
			&.disabled{
				*{
    				color: #aaa;
    				pointer-events: none;
    			}
			}
		}
	}
	&__wrapper{
		position: relative;
		.menu{
		    font-weight: 700;
		    overflow: hidden;
		    ul.ap-books-controls{
		    	padding: 10px;
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				justify-content: center;
				height: 100%;
				padding-top: 2px;
		    	li{
			    	display: block;
			    	width: 100%;
			    	a{
			    		transition: $anim8-speed ease-in-out;
			    		text-decoration: none;
			    		display: block;
			    		width: 100%;
			    		&.color-a svg text{
			    			fill: $ap-a;
			    		}
			    		&:hover, &.active{
			    			svg text{
			    				transition: $anim8-speed ease-in-out;
			    				fill: $ap-b;
			    			}
			    		}
			    	}
		    	}
	    		&.disabled{
	    			*{
	    				color: #aaa;
	    				pointer-events: none;
	    			}
	    		}
		    }
		    @media screen and(max-width: 425px){
		    	margin-bottom: $gutter*2;
		    }
		}		
		.book{
			float: left;
			width: 20%;
			position: relative;
			perspective: 1000px;
			// initial book cover sizes
			width: 25%;
			height: calc(25vw * 1.4);
			// breakpoints
			@media screen and (max-width:980px){
				width: 33.333%;
				height: calc(25vw * 2);
			};
			@media screen and (max-width:750px){
				width: 50%;
				height: calc(25vw * 3);
			};
			@media screen and (max-width:425px){
				width: 100%;
				height: calc(25vw * 5.3);
			};		
			&__content{
				width: 100%;
				height: 100%;
				transition: 0.6s;
				position: relative;
				transform-style: preserve-3d;
				.front{
					z-index: 2;
					width: 100%;
					height: 100%;
					position: absolute;
					background-size: cover;
					transform: rotateY(0deg);
				}
				.back{
					height: 100%;
					width: 100%;
					background: $black;
					color: $white;
					transform: rotateY(180deg);
				}
				&.flipped{
					transform: rotateY(180deg);
					.front{
						pointer-events: none;

					}
				}
				// shared properties between front and back sides
				.front,
				.back{
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					backface-visibility: hidden;
					-moz-backface-visibility: hidden;
					-webkit-backface-visibility: hidden;
					.wrapper{
						position: relative;
						width: 100%;
						height: 100%;
						&__controls{
							text-align: right;
							position: absolute;
							bottom: 0;
							width: 100%;
							[class^=ap-btn]{
								margin-right: $gutter;
								font-size: 22px;
								padding: 4px;
								opacity: .8;
								&:hover{
									opacity: 1;
								}
							}
							a{
								text-decoration: none;
							}
						}
						&__synopsis{
							padding: $gutter;
							a{
								text-decoration: none;
								color: $white;
								&:hover{
									color: lighten($ap-b, 5%);	
								}
							}
						}
					}
				}
			}				
		}
		.ap-books-empty-warning{
			text-align: right;
			padding-right: $gutter*2;
			@media screen and(max-width: 768px){
				padding-top: 42px;
			}
			p{
				font-size: 32px;
				font-weight: 700;
				color: #aaa;
				margin-top:0;
			}
			span{
				font-weight: 700;
				color: $ap-a;
				cursor: pointer;
			}
			&.hidden{
				display: none;
			}
		}
	}
	&__footer{
		padding: $gutter/2;
		overflow: hidden;
		&-loadmore{
			text-align: center;
			font-size: $typo-paragraph;
			padding: 47px;
    		padding-top: 55px;
    		form{
				.ap-btn{
					margin-bottom: 0;
					div.spinner{
						opacity: 0;
					}
				}
				&.loading{
					.ap-btn{
						// loading
						border: none;
						pointer-events: none;
						transition: none;
						&:hover{
							background: transparent;
						}
						span.text{
							display: none;
						}
						div.spinner{
							transition: $anim8-speed;
							opacity: 1;
							border-radius: 100%;
							border: dashed 3px $black;
							height: 36px;
							width: 36px;
							animation: spin 4s linear infinite;
							animation-delay: 200ms;
						}
					}
				}
    		}
		}
	}
}