// ABOUT THE AUTHOR
.ap-contact{
	z-index: 99999999 !important;
	transform: translateX(100%) !important;
	transition: $anim8-speed;
	overflow: auto;
	position: fixed;
	background: $black;
	color: $white;
	padding: 0;
	height: 100%;
	top: 0;
	right: 0;
	z-index: 10;
	width: 100%;
	&.ap-contact-open{
		transform: translateX(0) !important;
		transition: $anim8-speed;
	}
	a, i{
		color: $white;
		&:hover{
			color: $ap-b;
		}
	}		
	&__close{
		position: absolute;
		right: $gutter;
		top: $gutter;
		cursor: pointer;
		z-index: 17;
	}
	&__body{
		padding: $gutter;
		form#ap-contact-form{
			margin: 0 auto;
			position: relative;
			width: 95%;
			max-width: 550px;
			margin-top: $gutter*4;
			label, input, textarea{
				width: 95%;
				color: $white;
				border-color: $white;
				&::placeholder{
					color: $white;
				}
			}
			textarea{
				margin-top: $gutter;
				margin-bottom: $gutter/2;
				height: 200px;
			}
			.submit{
				margin: $gutter 0;
				text-align: center;
				margin-top: $gutter*3;
				button{
					background: transparent;
					border-color: $white;
					color: $white;
					&:hover{
						color: $ap-b;
						border-color: $ap-b;
					}
				}
			}
			&.loading{
				.ap-btn{
					// loading
					border: none;
					pointer-events: none;
					transition: none;
					&:hover{
						background: transparent;
					}
					span.text{
						display: none;
					}
					div.spinner{
						transition: $anim8-speed;
						opacity: 1;
						border-radius: 100%;
						border: dashed 3px $white;
						height: 26px;
						width: 26px;
						animation: spin 4s linear infinite;
						animation-delay: 200ms;
					}
				}
			}
		}
	}
}