.ap-footer{
	&__content{
		display: flex;
		justify-content: left;
		flex-wrap: wrap;
		color: $white;
		background: $black;
		padding: $gutter*2;
		padding-top: $gutter*2;
		overflow: hidden;
		@media screen and(max-width: 1000px){
			justify-content: center;
			padding: $gutter;
		}
		.a,.b,.c,.d{
			min-width: 245px;
			max-width: 25%;
			width: 100%;
			padding-bottom: $gutter*2;
			@media screen and(max-width: 1000px){
				max-width: 50%;
			}
			a{
				color: $white;
				cursor: pointer;
				text-decoration: none;
				transition: $anim8-speed ease-in-out;
				svg text{
					fill: $white;
					&:hover{
						transition: $anim8-speed ease-in-out;
						fill: lighten($ap-b, 5%);
					}
				}
			}
			.mail-me{
				padding: $gutter*2 0;
				display: block;
			}
		}
		.d{
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			.ap-logo-img{
				width: 140px;
				height: 220px;
			}
		}
	}
	&__mini{
		background: $ap-b;
		padding: $gutter;
		color: $white;
		font-size: 13px;
		letter-spacing: 1.1px;
	}
}