.magcards{
	overflow: hidden;
	&__title{
		padding-bottom: $gutter*2;
		p{
			font-size: 44px;
			font-weight: 700;
			margin: 0;
			padding: 0;
			padding-left: 2px;
			text-transform: uppercase;
			span{
				display: block;
				text-align: left;
				font-size: 18px;
			}
		}
	}
	&__content{
		padding: $gutter*6 $gutter;
		.mg-card{
			padding: 2px;
			.mg-card__content{
				background-size: cover;
				background-position: center;
				height: 350px;
				background-color: $black;
				color: $white;
				overflow: hidden;
				position: relative;
				&-info{
					font-size: 20px;
					font-weight: 700;
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					padding: $gutter;
					background: rgba(0,0,0,0.5);
					height: 90px;
				}
			}
		}
	}
	/* 
		when slider is loading 
		or nothing returned
	*/
	.swiper-wrapper{
		&.loading,
		&.empty{
			width: 100%;
			padding: 40px 0;
			margin: 0;
			.ap-loading-circle:before{
				border-color: $black;
			}
			p{
				font-size: 32px;
				font-weight: 700;
				color: #aaa;
			}
		}
		&.loading{
			p{
				display: none;
			}
		}
	}
	.swiper-slide{
		max-width: 300px;
	}
}