<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /matomo/
  RewriteRule ^index\.php$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /matomo/index.php [L]
</IfModule>