// Ap Basic Colors
$ap-a: #800000;
$ap-b: #008b8b;
$ap-c: #333;
$ap-d: #111;
// Another Colors
$black: #000000;
$white: #FFFFFF;
// Gutter
$gutter: 12px;
// Default Box Shadow
$box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28); 
// Navar Size
$navbar-height: 76px;
// Default Speed to Animations
$anim8-speed: 200ms;
// font sizes
$typo-title-big: 40px;
$typo-title: 2.3em;
$typo-feature: 2em;
$typo-subtitle: 1.8em;
$typo-paragraph: 1.5em;
$typo-current: 1.3em;
$typo-small: 12px;
$typo-minimal: 10px;
$typo-infos: 7px;